# calcは()の中を計算して値を返す。使用するときは演算子の前後にスペースが必要
main{
    height:calc(100vh - 50px);
    min-height:calc(100vh - 50px);
    padding-top:60px;
}

footer {
  height: 50px;
}

.bg-home {
  background-color: #1e90ff;
}